<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">
         "Media Spotlight" *::after
      </span>
      <a class="spotlight_link-to" href="">
    </h2>

  <p class="spotlight__description"></p>
  </section>

  
    
   <hr class="root__hr">  
   <section class="top-ten__container">
       <section class="top-ten__list-container">
        <h2 class="top-ten__header"> 
      <h2> 
     
          <ul class="list-group top-ten__list">
            <li class="list-group-item">
              <h4><a href=""></a> 
                <small class="top-ten__creator"></small> 
              </h4>
              <p></p>  
            </li> 
          </ul>     
  </section> 
   <section class="top-ten__container">
       <section class="top-ten__list-container">
        <h2 class="top-ten__header"> 
      <h2> 
     
          <ul class="list-group top-ten__list">
            <li class="list-group-item">
              <h4><a href=""></a> 
                <small class="top-ten__creator"></small> 
              </h4>
              <p></p>  
            </li> 
          </ul>   
</section>
   <section class="top-ten__container">
       <section class="top-ten__list-container">
        <h2 class="top-ten__header"> 
      <h2> 
     
          <ul class="list-group top-ten__list">
            <li class="list-group-item">
              <h4><a href=""></a> 
                <small class="top-ten__creator"></small> 
              </h4>
              <p></p>  
            </li> 
          </ul>   
</section>

 


            
         
        
